@layer reset, base, tokens, recipes, utilities;

.grid-container {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr; /* Par défaut sur mobile */
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Petites tablettes */
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Tablettes */
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* Petits écrans PC */
  }
}

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Grands écrans PC */
  }
}
